.reviewsCarousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.review-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  margin: 10px;
}
.mainHeading,
.reviewer-name {
  color: white;
}
.arrow-button {
  background-color: transparent;
  background-image: transparent;
  border-color: transparent;
}
